*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
    padding: 20px;
    top: 0;
    width: 100%;
}

/*header-top*/
#header-top #logo{
    width: 50%;
    text-align: center;
}

#header-top #search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

#header-top #search-form input {
    padding: 6px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    border-radius: 8px 0 0 8px;
}

#header-top #search-form button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

#header-top .copy{
    font-weight: 400;
    text-align: center;
}

/*header-bottom*/
#header-bottom ul {
    list-style: none;
    margin: 0;
    padding: 5px 5px;
}

#header-bottom a {
    text-decoration: none;
    color: #666666;
    display: inline-block;
    padding: 0;
    font-size: 17px;
    transition-duration: 0.5s;
    transition-property: color;
}

#header-bottom a:hover {
    color:black;
    transition:color, 0.5s;
}

div.menu{
    text-align: center;
}

div.menu i{
    background-color: #02364C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

div.menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}

.description{
    display: none;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

#purchase {
    display: flex;
    flex-wrap: wrap;
}

#purchase article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 25px;
}

#bargains{
    display: flex;
    flex-wrap: wrap;
}

#bargains article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 25px;
}

p .price{
    font-size: 18px;
    width: 30%;
}

p .discount {
    font-size: 16px;
    width: 70%;
}
h3.description{
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    color: #666;
}

section.banner img{
    width: 100%;
    display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

main h3{
    margin-top: 25px;
    margin-bottom: 5px;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    display: block;
    width: 92%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer{
    background-color: #fff;
    color: #666;
    padding: 20px 5%;
}

footer article{
    margin: 20px 0px;
}

footer h4, p {
    text-align: center;
}

footer article i{
    color: #1259c3;
    transition-duration: 0.5s;
    transition-property: color;
    text-align: center;
}

footer i:hover{
    color: #2f4e6f;
    transition: color, 0.5s;
}


.login input,
.register input,
.vender input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.register h3{
    color: #333333;
}

.login div,
.register div,
.vender div{
    margin: 25px 0;
}

.login button,
.register button,
.vender input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.login a,
.register a,
.vender a{
    color: #FFF;
    text-decoration: none;
}

.login button[type='submit'],
.register button[type='submit'],
.vender button[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.login button[type='submit']:hover,
.register button[type='submit']:hover,
.vender button[type='submit']:hover{
    background-color: #0022AA;
    transition: background-color, 0.5s;
}

.register .title {
    align-items: center;
}

.register button[type='reset']{
    color: #FFF;
    background-color: #AA0044;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.register button[type='reset']:hover{
    background-color: #CC1155;
    transition: background-color, 0.5s;
}

.seller-buyer label,
.interests label{
    margin: 7px;
}

div.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register div.profile input,
.login div.profile input{
    width: 100%;
}

.register div.profile input:invalid:focus,
.login div.profile input :invalid:focus{
    background-image: linear-gradient(#ff6961,#ff6961);
  }

div.seller-buyer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    align-items: left;
}

div.seller-buyer input,
div.seller-buyer label{
    width: auto
}

div.interests{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

div.interests{
    width: 100%;
    flex-wrap: nowrap;
    align-items: left;
}

div.interests input,
div.interests label{
    width: auto
}

main section article{
    border-radius: 5%;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

footer article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}

footer article i{
    font-size: 30px;
}

main .letters{
    font-size: 16px;
}
.main-article i{
    transition: 1s;
}

.main-article i:hover{
    transform: rotate(360deg);
}

@media /*tablet*/ (min-width: 768px){
    footer article{
        font-size: 15px;
    }
    
    .articleSide{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    footer article{
        flex-wrap: wrap;
        width: 300px;
    }
    
    .description{
        display: block;
    }

    #purchase .description{
        height: 0px;
        overflow: hidden;
        margin-top: 0px;
        transition: all 0.3s ease-in;
    }

    #purchase:hover .description{
        overflow: visible;
    }

    main section article:hover{
        box-shadow :0 0 11px rgba(24, 21, 21, 0.2);
        transition: box-shadow, 0.3s;
    }

    div.menu{
        display: none;
    }

    #header-top{
        display: flex;
        justify-content: space-between;
    }

    #logo{
        width: 160px;
    }

    .copy{
        max-width: 200px;
        text-align: right;
        font-size: 15px;
    }

    #header-top input[type='search'] {
        font-size: 20px;
    }
    
    #header-top #search-form button {
        font-size: 20px;
    }

    #search-form{
        align-self: center;
        margin: 0 auto;
    }

    #header-bottom nav{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    #header-bottom nav ul{
        display: flex;
    }

    #header-bottom nav li{
        margin: 0 5px;
    }

    main section{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    main article{
        flex: 1 0 50%; 
        text-align: center;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        max-width: 300px;
        margin: 0.5em auto;
    }

    article p{
        flex-grow: 1;
    }
}

@media /*desktop*/ (min-width: 1200px){
    #header-top{
        max-width: 1400px;
        margin:auto;
        align-items: center;
    }

    #logo{
        width: 250px;
    }

    .copy{
        margin:0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }

    #header-bottom nav{
        margin-top: 40px;
    }

    #header-bottom nav li{
        margin: 0 10px;
    }

    #header-bottom a{
        font-size: 20px;
    }

    main article{ 
        flex: 1 0 30%;
        width: 200px;
        max-width: 250px;
    }

    #header-top input[type='search'] {
        font-size: 25px;
    }
    
    #header-top #search-form button {
        font-size: 25px;
    }
}