<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

 <!----
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/header-tablet.css">
    <link rel="stylesheet" href="/styles/header-desktop.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/footer-tablet.css">
    <link rel="stylesheet" href="/styles/footer-desktop.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/home-tablet.css">
    <link rel="stylesheet" href="/styles/home-desktop.css"> 
--->

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--Estilo de iconos-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <header class="main-header">
        <section id="header-top">
            <nav id="logo">
                <a href="">
                    <img src="../images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                </a>
            </nav>
            <form action="/" method="get" id="search-form">
                <fieldset>
                    <input type="text" id="search-field" name="search">
                    <button>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </fieldset>
            </form>
            <article>
                <i class="fas fa-handling-usd"></i>
                <p>Compra en cuotas y sin tarjetas de crédito</p>
            </article>
        </section>
 
        <section id="header-bottom">
            <nav id="us">
                <a href="/">Home</a>
                <a href="/">Ofertas</a>
                <a href="/">Tiendas oficiales</a>
                <a href="/">Vender</a>
                <a href="/">Ayuda</a>
            </nav>
            <nav>
                <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a>
                <a href="/login"> Ingresa<i class="fas fa-sign-in-alt"></i></a>
                <a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </nav>
        </section>
    </header>

    <main class="login">
        <form action="" method="post">
            <div class="profile">
                <input type="text" name="profile" placeholder="user-name" 
                    minlength="6"
                    required pattern="[Aa-Zz] {2,15}"
                    title="Debe introducir como mínimo 6 caracter"
                    required>
            </div>
            <div class="profile">
                <input type="password" name="password" placeholder="Contraseña" 
                    minlength="6"
                    required pattern="[Aa-Zz] {2,15}"
                    title="Debe introducir como mínimo 6 caracter"
                    required>
            </div>
            <div>
                <button type="submit"><a href="/">Enviar</a></button>
            </div>
        </form>
    </main>
    
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tiene cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>

</body>

</html>